<!DOCTYPE html>
<html decorate="~{shared/layout/base}">
<head layout:title="Đăng Ký Cửa Hàng"></head>
<div layout:fragment="content">
    <div class="container-fluid register-container">
        <!-- Register form -->
        <div class="login-form">
            <form class="login-box" th:action="@{/restaurant/register}" method="post">
                <div class="login-title">ĐĂNG KÝ CỬA HÀNG MỚI</div>
                <div class="input-field mb-2">
                    <label for="shopName" class="form-label">Tên Cửa Hàng</label>
                    <input type="text" class="form-control nform-control" id="shopName" name="shopName" required>
                </div>

                <div class="input-field mb-2">
                    <label for="description" class="form-label">Mô Tả Cửa Hàng</label>
                    <textarea class="form-control nform-control" id="description" name="description"></textarea>
                </div>
                
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary nbtn-primary">Đăng Ký</button>
                    <a href="/register" class="btn btn-secondary nbtn-secondary">Quay Lại</a>
                </div>
            </form>
        </div>
        <!-- Right image -->
        <div class="left-img">
            <img th:src="@{/images/chef.png}" alt="Chef Image">
        </div>
    </div>
</div>
</html>
