<!DOCTYPE html>
<html layout:decorate="~{shared/layout/base}">
<head>
    <title layout:title="Nhà hàng"></title>
</head>
<div layout:fragment="content">
    <div class="container user-main">
        <div class="user-orders">
            <div class="order-item">
                <div class="order-info">
                    <div class="order-name">Bún đậu mắm tôm</div>
                    <div class="order-price">162,000 VNĐ</div>
                </div>
                <div class="order-actions">
                    <button class="btn btn-warning">Xem thông tin</button>
                    <button class="btn btn-primary nbtn-primary">Nhận đơn</button>
                    <button class="btn btn-danger">Từ chối</button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
