<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:replace="~{fragments :: header('Đăng ký')}"></div>

    <main>
        <form action="/auth/register" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Tên đăng nhập</label>
                <input type="text" name="username" class="form-control" placeholder="Tên đăng nhập">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mật khẩu</label>
                <input type="password" name="password" class="form-control" placeholder="Mật khẩu">
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Nhập lại mật khẩu</label>
                <input type="password" name="confirmPassword" class="form-control" placeholder="Nhập lại mật khẩu">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Họ tên</label>
                <input type="text" name="name" class="form-control" placeholder="Họ tên">
            </div>
            <div class="mb-3">
                <label for="phoneNumber" class="form-label">Số điện thoại</label>
                <input type="tel" name="phoneNumber" class="form-control" placeholder="Số điện thoại">
            </div>
            <div class="mb-3">
                <label for="dob" class="form-label">Ngày sinh</label>
                <input type="date" name="dob" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Giới tính</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="male" value="male">
                    <label class="form-check-label" for="male">Nam</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                    <label class="form-check-label" for="female">Nữ</label>
                </div>
            </div>
            <div class="mb-3">
                <label for="role" class="form-label">Vai trò</label>
                <select name="role" class="form-select">
                    <option value="customer">Khách hàng</option>
                    <option value="shipper">Người giao hàng</option>
                    <option value="seller">Người bán</option>
                </select>
            </div>
            

            <button type="submit" class="btn btn-primary">Đăng ký</button>
            <a href="/auth/login" class="btn btn-secondary">Đăng nhập</a>

            <p th:text="${message}"></p>
        </form>
    </main>

    <div th:replace="~{fragments :: footer}"></div>
</body>
</html>
